<app-list-data [data]="projectList" [cols]="cols" [fetching]="isFetching" [deleting]="isDeleting"
    [actions]="['update', 'delete']" title="Project" [pagination]="pagination" [totalRecords]="totalRecords"
    (onAdd)="isDialog = true" (onUpdate)="handleUpdateProject($event)" (onDelete)="handleDeleteProject($event)"
    (onPageChange)="handlePageChange($event)" (onSizeChange)="handleSizeChange($event)">
</app-list-data>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<p-dialog [resizable]="false" [draggable]="false" header="Add Project" [(visible)]="isDialog" [style]="{width: '50%'}">
    <app-project-form></app-project-form>
</p-dialog>