<app-list-data (onDelete)="handleDeleteIntern($event)" (onUpdate)="handleUpdateIntern($event)" (onAdd)="isDialog = true" [data]="internList"
    [fetching]="isFetching" [deleting]="isDeleting" [cols]="cols" title="Intern" [pagination]="pagination"
    [actions]="['update', 'delete']" [totalRecords]="totalRecords"></app-list-data>

<p-dialog [draggable]="false" [resizable]="false" header="Add Intern" [style]="{'width': '70vw'}"
    [(visible)]="isDialog">
    <app-intern-form (onSubmitSuccess)="handleAddInternSuccess()" [isDialog]="true"></app-intern-form>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
