<div class="flex flex-wrap md:flex-nowrap gap-6">
    <div
        class="grid grid-cols-2 gap-y-4 shadow sticky top-[70px] bg-light w-full md:w-1/4 h-fit border-1 border-solid border-secondary rounded-lg p-6 first"
    >
        <div class="flex gap-4">
            <div class="">
                <p class="text-dark text-sm font-medium leading-5">
                    {{ 'name' | pascalcase }}
                </p>
                <p class="text-sidebar text-sm mt-1">{{ intern.name }}</p>
            </div>
        </div>
        <div class="flex gap-4">
            <div class="">
                <p class="text-dark text-sm font-medium leading-5">Gender</p>
                <p class="text-sidebar text-sm mt-1">{{ intern.gender }}</p>
            </div>
        </div>
        <div class="flex gap-4">
            <div class="">
                <p class="text-dark text-sm font-medium leading-5">Phone</p>
                <p class="text-sidebar text-sm mt-1">{{ intern.phone }}</p>
            </div>
        </div>
        <div class="flex gap-4">
            <div class="">
                <p class="text-dark text-sm font-medium leading-5">Email</p>
                <p class="text-sidebar text-sm mt-1">{{ intern.email }}</p>
            </div>
        </div>
        <div class="flex gap-4">
            <div class="">
                <p class="text-dark text-sm font-medium leading-5">Address</p>
                <p class="text-sidebar text-sm mt-1">{{ intern.address }}</p>
            </div>
        </div>
        <div class="flex gap-4">
            <div class="">
                <p class="text-dark text-sm font-medium leading-5">Birthday</p>
                <p class="text-sidebar text-sm mt-1">{{ intern.birthday }}</p>
            </div>
        </div>
        <div class="flex gap-4">
            <div class="">
                <p class="text-dark text-sm font-medium leading-5">Team</p>
                <p class="text-sidebar text-sm mt-1">{{ intern.team.name }}</p>
            </div>
        </div>
        <div class="flex gap-4">
            <div class="">
                <p class="text-dark text-sm font-medium leading-5">Mentor</p>
                <p class="text-sidebar text-sm mt-1">
                    {{ intern.mentor.name }}
                </p>
            </div>
        </div>
        <div class="grid-cols-2 flex flex-col gap-4">
            <div class="">
                <p class="text-dark text-sm font-medium leading-5">Projects</p>
                <ul *ngIf="intern?.projects?.length !== 0">
                    <li *ngFor="let project of intern.projects">
                        <p class="text-sidebar text-sm mt-1">
                            {{ project.name }}
                        </p>
                    </li>
                </ul>
                <p
                    *ngIf="!intern?.projects?.length"
                    class="text-sidebar text-sm mt-1"
                >
                    No projects
                </p>
            </div>
        </div>
    </div>

    <!-- Right -->
    <div
        class="shadow bg-light w-full md:w-3/4 border-1 border-solid border-secondary rounded-lg p-6"
    >
        <div [innerHTML]="intern.description"></div>
    </div>
</div>
