:host ::ng-deep {
    .p-toast .p-toast-message .p-toast-message-content {
        @apply border-0;
    }
    .p-toast {
        .p-toast-message {
            @apply border;
            &-success {
                @apply bg-green-50 border-green-300 rounded-xl;
                i {
                    @apply text-green-600;
                }
                .toast-content {
                    @apply text-green-700;
                }
                .p-toast-icon-close {
                    @apply text-green-500;
                }
            }

            &-info {
                @apply bg-gray-50 border-gray-300 rounded-xl translate-y-40;
                i {
                    @apply text-gray-600;
                }
                .toast-content {
                    @apply text-gray-700;
                }
                .p-toast-icon-close {
                    @apply text-gray-500;
                }
            }

            &-warn {
                @apply bg-yellow-50 border-yellow-300 rounded-xl;
                i {
                    @apply text-yellow-600;
                }
                .toast-content {
                    @apply text-yellow-700;
                }
                .p-toast-icon-close {
                    @apply text-yellow-500;
                }
            }

            &-error {
                @apply bg-red-50 border-red-300 rounded-xl;
                i {
                    @apply text-red-600;
                }
                .toast-content {
                    @apply text-red-700;
                }
                .p-toast-icon-close {
                    @apply text-red-500;
                }
            }
        }
        .p-toast-message-content {
            align-items: center;
            justify-content: space-between;
            .p-toast-icon-close {
                width: 20px;
                height: 20px;
            }
        }
    }
}
