<div class="flex bg-content justify-center items-center py-8  w-full min-h-[100vh]">
    <div class="bg-light px-6 pt-10 pb-12 shadow-2 border-round xl:w-[42%] w-[50%] mt-[-5%]">
        <div class=" text-center mb-5">
            <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
        </div>

        <form [formGroup]="formLogin" (submit)="handleSubmit()">
            <div class="mb-6">
                <label for="username" class="block text-900 font-medium mb-2">Username</label>
                <input autocomplete="username" id="username" type="text" formControlName="username"
                    placeholder="Username" pInputText class="w-full ">
            </div>

            <div class="mb-6">
                <label for="password1" class="block text-900 font-medium mb-2">Password</label>

                <p-password name=" password" formControlName="password" placeholder="Password" [feedback]="false"
                    class="w-full" [toggleMask]="true"></p-password>
            </div>

            <p *ngIf="message" class="px-4 py-6 bg-red-200 text-red-800 border border-red-300 rounded text-sm">
                {{message}}</p>

            <div class="mt-12">
                <p-button [disabled]="!formLogin.valid" class="w-full" type="submit" label="Submit"
                    [loading]="isLoading"></p-button>
            </div>
        </form>
    </div>
</div>
