<form [formGroup]="projectForm" (ngSubmit)="handleSubmit()">
    <div class="flex flex-col gap-4 bg-light rounded-md border-1">
        <!-- Name -->
        <div class="flex flex-col gap-2 ">
            <label class="text-sm text-gray-500 font-medium" htmlFor="username">Name</label>
            <input placeholder="Name" pInputText id="name" formControlName="name" />
        </div>

    </div>
    <div class="w-full flex justify-end mt-8">
        <p-button type="submit" label="Submit" [disabled]="!projectForm.valid"></p-button>
    </div>
</form>